.eb-wrapper-upload-button {
	height: 100px;
	width: 100%;
	background: #e3e3e3;
	color: #666666;
	display: inline-block;
}

.eb-wrapper-outer {
	padding: 20px 50px;
	transition: all 0.3s ease-in-out;
}

.eb-wrapper-inner {
	padding-left: 5%;
	padding-right: 5%;
}

.eb-inspector-btn-group {
	display: flex;
	padding-bottom: 5px;
}
.eb-inspector-btn-group button {
	flex: 1;
	padding-left: 40px !important;
}
